@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* descricao do produto */
.name_produto{
  font-family:'Saira', sans-serif;
  opacity:0.7;
}

#step-button-only{
  width:30px;
  border-radius:3px;

  border: 1px solid orange;
}

.step-button{
  width:30px;
  border-radius:3px;

  background-color: rgb(203 213 225);
}

.step-button-progress{
  width:30px;
  border-radius:3px;

  background-color: rgb(203 213 225);
}

.produto:hover{
  transition: 0.1s;
  cursor: pointer;
}